@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --col1: #003F7D;
}

body {
    background-image: url("../images/back.png");
    background-size: 200px 200px;
    margin: 0;
    font-family: "Poppins", sans-serif;
}